:root {
    --ff-space-mono: 'Space Mono', monospace;
    --fw-regular: 400;
    --fw-bold: 700;

    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan-2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --light-grayish-cyan-hover: hsl(173, 61%, 77%);
    --light-brown-checker: hsl(9, 42%, 61%);
    --dark-cyan-default-reset: hsl(183, 79%, 24%);
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    font-family: var(--ff-space-mono);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.splitter-challenge {
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Header Styles */

header {
    min-height: 9rem;
    padding: 2.25rem 0;
    width: 100%;
}

.title {
    color: var(--very-dark-cyan);
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
}

/* Main Styles */

main {
    background-color: var(--white);
    border-radius: 1.4375rem;
    padding-top: 2rem;   
    padding-bottom: 2rem; 
}

/* Main (Input Section) Styles */

.input {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.input__label,
.input__checker {
    line-height: 1.2;
}

.input__label {
    font-size: 1rem;
}

.input__bill {
    height: 3rem;
    margin-top: 0.375rem;
    margin-bottom: 2rem;
}

#input-bill,
#input-people {
    background-color: var(--light-grayish-cyan-2);
    background-repeat: no-repeat;
    background-position: 1.125rem;
    border: 2px solid transparent;
    border-radius: 3px;
    color: var(--very-dark-cyan);
    font-family: var(--ff-space-mono);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    height: 100%;
    width: 100%;
    padding-left: 3rem;
    padding-right: 1.125rem;
    text-align: right;
}

#input-bill {
    background-image: url("../images/icon-dollar.svg");
    background-size: 0.625rem 1rem;
}

#input-bill:focus,
#input-bill:hover,
#input-tip-custom:focus,
#input-tip-custom:hover,
#input-people:focus,
#input-people:hover {
    border: 2px solid var(--strong-cyan);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#input-bill::placeholder,
#input-people::placeholder {
    color: var(--dark-grayish-cyan-2);
}

.input__tip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0 2rem;
    width: 100%;
}

.input__tip__button {
    all: unset;
    background-color: var(--very-dark-cyan);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.88);
    padding: 0.375rem;
    text-align: center;
}

.input__tip__button:focus {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#input-tip-custom {
    all: unset;
    background-color: var(--light-grayish-cyan-2);
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--very-dark-cyan);
    padding: 0 1.125rem;
    text-align: right;
    width: 100%;
}

#input-tip-custom::placeholder {
    color: var(--dark-grayish-cyan);
}

.input__people-title {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.input__checker {
    color: var(--light-brown-checker);
    font-size: 1rem;
}

.input__people {
    height: 3rem;
    margin-top: 0.375rem;
}

#input-people {
    background-image: url("../images/icon-person.svg");
    background-size: 0.8125rem 1rem;
}

/* Main (Output Section) Styles */

.output {
    background-color: var(--very-dark-cyan);
    border-radius: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 2.5rem 1.5rem 1.5rem;
}

.output__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.4375rem;
}

.output__title__span {
    color: var(--dark-grayish-cyan-2);
    font-size: 0.875rem;
}

.output__amount {
    color: var(--strong-cyan);
    font-size: 1.875rem;
}

#button-reset {
    all: unset;
    background-color: var(--dark-cyan-default-reset);
    border-radius: 5px;
    box-sizing: border-box;
    color: rgba(0, 73, 77, 0.4);
    font-size: 1.35rem;
    margin-top: 0.6875rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/* Footer Styles */

footer {
    line-height: 1.2;
    margin: 2rem 0 1rem;
    opacity: 0.5;
    padding: 0 1rem;
    width: 100%;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 21em) {
    #input-tip-custom::placeholder {
        font-size: 1.25rem;
        text-align: center;
    }
}

@media only screen and (max-width: 21.875em) {
    footer {
        padding: 0 3.577rem;
    }
}

@media only screen and (min-width: 32.5em) {
    .splitter-challenge {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .splitter-challenge > * {
        max-width: 32.5rem;
    }

    .input__tip {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.875rem;
    }
}

@media only screen and (min-width: 48em) {
    .input__tip__button:hover {
        background-color: var(--light-grayish-cyan-hover);
        color: var(--very-dark-cyan);
        cursor: pointer;
    }
}

@media only screen and (min-width: 62em) {    
    .splitter-challenge > * {
        max-width: 57.5rem;
    }

    header {
        min-height: unset;
        padding: 0 0 4.875rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1.09fr;
        gap: 3rem;
        padding-left: 3rem;
        padding-right: 2rem;
    }

    .input {
        margin: 0.8125rem 0 1rem;
    }

    .input__bill {
        margin-bottom: 2.84375rem;
        margin-top: 0.5rem;
    }

    .input__tip {
        margin-bottom: 2.84375rem;
    }

    #input-tip-custom {
        padding: 0 0.9375rem;
    }

    #input-tip-custom::placeholder {
        font-size: 1.4rem;
        text-align: center;
    }

    .input__people {
        margin-top: 0.5rem;
    }

    .output {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: unset;
        padding: 2.8125rem 2.5rem 2.5rem;
    }

    .output__info {
        margin-bottom: 6.375rem;
    }

    .output__title {
        margin-bottom: 1.75rem;
    }

    .output__amount {
        font-size: 2.8125rem;
    }

    #button-reset {
        margin-top: unset;
    }

    footer {
        margin: 2rem 0 0;
    }
}