:root {
    --ff-space-mono: 'Space Mono', monospace;
    --fw-regular: 400;
    --fw-bold: 700;

    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan-2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --light-grayish-cyan-hover: hsl(173, 61%, 77%);
    --light-brown-checker: hsl(9, 42%, 61%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--light-grayish-cyan);
    color: var(--dark-grayish-cyan);
    font-family: var(--ff-space-mono);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
    min-height: 9rem;
    padding: 2.25rem 0;
}

.title {
    color: var(--dark-grayish-cyan);
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

main {
    background-color: var(--white);
    border-radius: 1.4375rem 1.4375rem 0 0;
    padding-top: 2rem;   
    padding-bottom: 2rem; 
}

.input {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.input__label {
    font-size: 1rem;
}

.input__bill {
    height: 3rem;
    margin-top: 0.375rem;
    margin-bottom: 2rem;
}

#input-bill,
#input-people {
    background-color: var(--light-grayish-cyan-2);
    background-repeat: no-repeat;
    background-position: 1.125rem;
    border: 2px solid transparent;
    border-radius: 3px;
    color: var(--very-dark-cyan);
    font-family: var(--ff-space-mono);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    height: 100%;
    width: 100%;
    padding-left: 3rem;
    padding-right: 1.125rem;
    text-align: right;
}

#input-bill {
    background-image: url("../images/icon-dollar.svg");
    background-size: 0.625rem 1rem;
}

#input-bill:focus,
#input-bill:hover,
#input-tip-custom:focus,
#input-tip-custom:hover,
#input-people:focus,
#input-people:hover {
    border: 2px solid var(--strong-cyan);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#input-bill::placeholder,
#input-tip-custom::placeholder {
    color: var(--dark-grayish-cyan-2);
}

.input__tip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0 2rem;
    width: 100%;
}

.input__tip__button {
    all: unset;
    background-color: var(--very-dark-cyan);
    border-radius: 5px;
    color: var(--white);
    padding: 0.375rem;
    text-align: center;
}

.input__tip__button:hover {
    background-color: var(--light-grayish-cyan-hover);
    color: var(--very-dark-cyan);
    cursor: pointer;
}

.input__tip__button:focus {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#input-tip-custom {
    all: unset;
    background-color: var(--light-grayish-cyan-2);
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--very-dark-cyan);
    padding: 0 1.125rem;
    text-align: right;
    width: 100%;
}

.input__people-title {
    display: flex;
    justify-content: space-between;
}

.input__checker {
    color: var(--light-brown-checker);
    font-size: 1rem;
}

.input__people {
    height: 3rem;
    margin-top: 0.375rem;
}

#input-people {
    background-image: url("../images/icon-person.svg");
    background-size: 0.8125rem 1rem;
}

.output {
    background-color: var(--very-dark-cyan);
    border-radius: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 2.5rem 1.5rem 1.5rem;
}

.output__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.4375rem;
}

.output__title__span {
    color: var(--dark-grayish-cyan-2);
    font-size: 0.875rem;
}

.output__amount {
    color: var(--strong-cyan);
    font-size: 1.875rem;
}

#button-reset {
    all: unset;
    background-color: hsl(183, 79%, 24%);
    border-radius: 5px;
    box-sizing: border-box;
    color: rgba(0, 73, 77, 0.4);
    font-size: 1.35rem;
    margin-top: 0.6875rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}